/* Font Import */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    color: #000;
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
    
}

/* Margin Classes */
.mt-5 {
    margin-top: 3rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

/* Center-align alert messages */
.alert {
    font-size: 1.2rem;
    text-align: center;
}